* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.intro{
    font-size: 1.5rem;
    color: black;
    justify-self: center;
    padding: 20px;
}

.back-text {
    width: 100%;
    background-color: rgb(180, 192, 207);
    padding: 10px;
    text-align: center;
    color: #ffffff;
}






.search-input {
    align-self:flex-end;
    width: 150px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding-left: 10px;
    background-color: white;
    color: black;
}



.toggleButton {
    background-color: #131921;
    margin: 5px;
    border: 1px solid #0f1111;
    padding: 6px;
    border-radius: 6px;
    color: white;
    float: right;
}

.toggleButton:hover {
    background-color: #232f3e;
}










body.dark .nav {
    background-color: #6c4302;
    color: black;
}

body.dark .footer {
    background-color: #6c4302;
    color: #ffffff;
}

body.dark .body {
    background-color: rgba(255, 247, 235, 0.98);
    color: #111;
}

body.dark .adm {
    background-color: rgba(255, 255, 255, 0.9);
}

body.dark .adminButton {
    background-color: rgba(255, 153, 0, 0.75);
}

body.dark .register-form {
    background-color: rgba(255, 255, 255, 0.95);
}

body.dark .login-form {
    background-color: rgba(255, 255, 255, 0.95);
}

body.dark .labelLog {
    background-color: rgba(255, 153, 0, 0.9);
}

body.dark .register {
    background-color: rgba(255, 153, 0, 0.9);
}

body.dark a {
    color: rgba(0, 0, 0, 0.7) !important;
}

body.dark .backtext {
    background-color: #4c0512;
    color: white;
}

body.dark .toggleButton {
    background-color: rgba(1, 16, 2, 0.49);
}


a:link {
    font-family: "Poor Richard", "Felix Titling", sans-serif;
    text-decoration: none;
    color: #0f1111;
}


a:visited {
    color: #232f3e;
}
.hub {
    color: #0ce1e1;
    font-family: "Lucida Handwriting", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
}

.hub:hover {
    color: #febd69;
}

.sublink {
    display: inline;
    border-radius: 1px;
    color: #0ce1e1 !important;
}

.sublink:link {
    color: #232f3e;
    padding: 1px;
}

.sublink:visited {
    color: #232f3e;
}

.sublink:hover {
    color: #febd69;
}


.menumob {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin: 7px;
}

.toggle {
    font-size: 40px;
    font-weight: bolder;
}

/*resp*/

@media screen and (max-width: 768px) {
    .nav-block {
        flex-direction: row;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        gap: 2px;
    }

    .nav-link {
        text-align: left;
        width: 100%;
        background-color: rgba(255, 193, 7, 0.49);
        margin-left: 9px;
        border-radius: 0;
        font-size: 20px;
    }

    .login-form,
    .register-form {
        padding: 20px;
    }

    .footer {
        font-size: 14px;
    }

    .menumob {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background-color: #232f3e;
        width: 100%;
    }

    .nav-menu.menu-active {
        display: flex;
    }

}

@media screen and (max-width: 480px) {
    .nav {
        position: static;
    }

    .nav-logoa {
        font-size: 1.1rem;
    }

    .nav-logob {
        font-size: 2.1rem;
    }

    .nav-link {
        font-size: 1rem;
        padding: 10px;
    }

    .login-body,
    .register-body {
        padding: 10px 5px;
    }

    .labelLog,
    .register {
        font-size: 14px;
        padding: 10px;
    }

    .footer {
        font-size: 12px;
        padding: 15px 5px;
    }
}