.deal-section {
    max-width: 100%;
    padding: 0.3rem;
    background: #f3f4f6;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.deal-title {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    color: #ccc9d6;
    padding: 0.4rem;
    background: linear-gradient(135deg, #2c1b2e, rgba(16, 10, 18, 0.8));
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

body.dark .deal-title {
    background: linear-gradient(to right, #0b2223, rgba(30, 75, 75, 0.91), #276c6c);
    color: white;
}

.deal-image {
    width: 100%;
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
    border: 2px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
