.deal-section {
    max-width: 100%;
    padding: 0.8rem;
    background: #f3f4f6;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.deal-title {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    color: #232f3e;
    padding: 0.4rem;
    background-color: #5a799f;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

body.dark .deal-title {
    background-color: #2c1e01;
    color: white;
}

.deal-image {
    width: 100%;
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
    border: 2px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
