.acc-dropdown {
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
}

.acc-button {
    background: rgba(34, 1, 1, 0.26);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    color: #cfbbbb;
    padding: 0.3rem;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: background 0.2s;
    font-family:"Cambria Math", sans-serif ;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 6px;
}

.acc-button:hover {
    background: rgba(213, 151, 101, 0.29);
}

.acc-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    min-width: 150px;
    z-index: 1000;
    padding: 0.5rem 0;
}

.acc-menu.show {
   display: flex;

}

.acc-menu a {
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    transition: background 0.2s ease;
    justify-content: center;
}

.acc-menu a:hover {
    background: rgba(35, 30, 4, 0.4);
}
