.body-prod {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #232f3e;
}

.back-shop {
    margin-top: 14px;
    margin-bottom: 7px;
    height: 500px;
    background-image: url('../../public/images/store.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.back-text {
    width: 100%;
    background-color: rgba(35, 47, 62, 0.95);
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

body.dark .back-text {
    background-color: rgba(44, 21, 1, 0.99);
}

body.dark .back-text h1 {
    color: #ffffff;
}
.back-text h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #febd69;
}

.back-text p {
    margin-top: 5px;
    color: #d5dbdb;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.1rem;
}

.category-card {
    width: calc(33% - 5px);
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0.6rem;
    background-color: #232f3e;
    color: white;
}

body.dark .category-card {
    background-color: #755002;
}

.category-card img {
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid transparent;
}

.slick-slide {
    transition: all 0.5s ease-in-out;
}
.slick-slide img {
    opacity: 0.8;
}
.slick-current img {
    opacity: 1;
    transform: scale(1.23);
}

.slick-dots {
    bottom: 1px;
}
.slick-dots li button:before {
    font-size: 8px;
    color: #d5dbdb;
    opacity: 0.6;
}
.slick-dots li.slick-active button:before {
    color: #febd69;
    opacity: 1;
}

.slick-prev,
.slick-next {
    z-index: 5;
    width: 46px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 22px;
    color: #232f3e;
}

.category-name {
    padding: 3px;
    font-weight: 600;
    color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
    padding: 15px;
    margin-bottom: 100px;
}

.productsHeading {
    color: white;
    text-align: center;
    background-color: #232f3e;
    padding: 10px;
    font-family: "Felix Titling", sans-serif;
}

.product-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.2s ease;
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #232f3e;
}

.stars {
    color: #ffa41c;
    margin-bottom: 5px;
}

.price {
    font-weight: 549;
    margin-bottom: 10px;
    color: #b12704;
}

.discount {
    margin-left: 10px;
    font-size: 9px;
    background-color: rgba(255, 193, 7, 0.15);
    border: 1px solid transparent;
    border-radius: 50%;
    font-weight: bold;
    color: #b12704;
}

.product-card button {
    background-color: #febd69;
    border: none;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    color: #111;
}

.product-card button:hover {
    background-color: #f3a847;
    color: black;
    transition: background-color 0.2s ease;
}

.adminA {
    background-color: rgba(255, 0, 0, 0.6) !important;
    margin-left: 3px;
}

.adminB {
    background-color: rgba(128, 0, 128, 0.62) !important;
    margin-left: 3px;
}

.adminS {
    background-color: black !important;
    color: white;
    margin-left: 3px;
}

/* resp */

@media screen and (max-width: 768px) {
    .back-shop {
        height: 380px;
        background-position: center;
    }

    .category-card img {
        width: 100%;
        height: 200px;
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .product-card img {
        height: 100px;
    }

    .product-card h3 {
        font-size: 14px;
    }

    .price {
        margin-left: 0;
        font-size: 14px;
    }

    .discount {
        font-size: 8px;
    }

    .product-card button {
        padding: 6px 12px;
        font-size: 14px;
    }

    .productsHeading {
        font-size: 16px;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .category-card img {
        width: 100% !important;
        height: 100px;
    }
    .category-card {
        padding: 12px;
    }

    .back-shop {
        height: 330px;
    }

    .back-text {
        padding: 12px;
    }

    .back-text h1 {
        font-size: 18px;
    }

    .back-text p {
        font-size: 13px;
    }

    .product-card {
        padding: 10px;
    }

    .product-card img {
        height: 90px;
    }

    .product-card h3 {
        font-size: 13px;
    }

    .product-card button {
        font-size: 13px;
    }
    .category-name h5 {
        font-size: 13px;
    }

    .stars {
        font-size: 12px;
    }

    .discount {
        font-size: 7px;
    }
}
